/*------------------------------------*\
    $FUENTES
\*------------------------------------*/
/*
 * Por defecto incluyo una fuente de icomoon (http://icomoon.io/) 
 * con 5 iconos que se encuentra en la carpeta /fonts.
 * Ve y adàptalos a tu web.  
 */
 /*@font-face {
  font-family: 'Aloonida';
  src: url('../fonts/Gotham-Light.eot');
  src: local('☺'), url('../fonts/Gotham-Light.woff') format('woff'), url('../fonts/Gotham-Light.ttf') format('truetype'), url('../fonts/Gotham-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}*/


 